<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/bootstrap-5/css/bootstrap.min.css">
    <title>Compatibilite</title>
</head>
<style>
    .roundGreen,.roundRed{
        width: 75%;
        height: 25%;
        border-radius: 70%;
        margin-top: 70%;
    }
    .roundGreen{
        background-color: #7DF260;
    }
    .roundRed{
        background-color: red;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3" style="overflow: hidden;">
                <img src="../../images/profil.png" class="rounded mx-auto d-block" alt="..." style="width: 90%;">
            </div>
            <div class="col-md-8">
                <div class="container" style="padding-left: 5%;">
                    <div class="row">
                        <p style="font-size: 300%;font-weight: bold;">Ingenieur en informatique</p>
                    </div>
                    <div class="row">
                        <p style="font-size: 150%;color: gray;">Nom de l'entreprise : Saucisse & Co</p>
                    </div>
                    <div class="row">
                        <button style="width: 15%;margin-left: 1.75%" class="btn btn-outline-dark" type="button">Voir le travail</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-6">
                        <p style="font-size: medium;font-size: 150%;color: gray;">Taux de compatibilité :</p>
                    </div>
                    <div class="col-md-6">
                        <p style="font-size: 340%;color: red;font-weight: bold;">45%</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-9">
                        <p style="font-size: 240%;font-weight: 600;color: gray;">+ Points positifs: </p>
                    </div>
                    <div class="col-md-2">
                        <p style="font-size: 240%;color: #00CF00;font-weight: 600;">2</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="roundGreen"></div>
                    </div>
                    <div class="col-md-11">
                        <p>3/2 compétences requises</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="roundGreen"></div>
                    </div>
                    <div class="col-md-11">
                        <p>Secteurs correspondant</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-9">
                        <p style="font-size: 240%;font-weight: 600;color: gray;">- Points négatifs:</p>
                    </div>
                    <div class="col-md-2">
                        <p style="font-size: 240%;color: red;font-weight: 600;">3</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="roundRed"></div>
                    </div>
                    <div class="col-md-11">
                        <p>Beaucoup trop loin de votre domicile</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="roundRed"></div>
                    </div>
                    <div class="col-md-11">
                        <p>Secteurs correspondent</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <div class="roundRed"></div>
                    </div>
                    <div class="col-md-11">
                        <p>Annee d'éxperience requise</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>