
.btn-light:hover {
    background-color: #f8f9fa;
    color: #0280ff;
}
.btn-dark:hover {
    background-color: #f8f9fa;
    color: #0280ff;
    border-color: #f8f9fa;
}

.logout-button {
    display: flex;
    align-items: center;
    font-size: small;
    /* background-color: #007bff; */
    color: #444444;
    /* padding: 10px 20px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}